

@media (min-width: 430px){
    .radovi img{
        width: auto;
    }
    .radovi figure{
        width: 60%;
    }



}


@media (min-width: 576px) {
    .navbar-nav{
        text-align: center;
    }
    .material li p{
        font-size: 0.9rem;
    }
    .katalozi .btn,
    .kontakt .btn,
    footer{
        font-size: 0.8rem;
    }


}

@media (min-width: 768px) {
    header a{
        font-size: 0.8rem;
    }
    nav ul li{
        font-size: 0.9rem;
        background-color: #fff;
    }
    .nav-item a{
        color: #293E82;
    }
    .nav-item:hover{
        color: #45BBFF;
        background-color: #fff;
    }
    .usluge h4{
        font-size: 1.2rem;
    }
    .usluge .fa,
    .reference .fa,
    .radovi .text .fa{
        height: 45px;
        width: 45px;
        line-height: 45px;
        font-size: 1.1rem;
    }
    .usluge .dotted{
        border-bottom: none;
    }
    .radovi figure{
        width: 100%;
        margin-top: 2rem;
    }
    footer .container p{
        font-size: 0.9rem;
        font-weight: bold;
    }


}

@media (min-width: 992px) {

    nav ul li,
    .usluge p,
    .material li p,
    .katalozi h5{
        font-size: 1rem;
    }
    .katalozi .btn,
    .kontakt .btn{
        font-size: 0.9rem;
    }
    nav img{
        width: 70%;
    }
    .kontakt p{
        font-size: 1rem;
    }



}

@media (min-width: 1200px) {

    .usluge .fa,
    .reference .fa,
    .radovi .text .fa{
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 1.5rem;
    }

    .reference figure:hover{
        transform: scale(1.15);
        transition: 0.4s ease-in;
    }
    footer .container p{
        font-size: 1rem;
    }

}